@charset "UTF-8";

@media screen and (max-width: 600px) {
    .container{
    
    }

    .opcoes{
        flex-direction: column;
        
    }

    .container > h1{
        width: 600px;
        text-align: center;
    }

    .opcoes > a{

        width: 90vw;
        text-align: center;
        
    }

}


*{
    margin: 0px;
    padding: 0px;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

header{
    background-color: rgb(158, 158, 158);
    padding: 10px;

}

.container{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.container > h1{

    color: white;
    text-shadow: 1px 1px 1px black;====
}

.opcoes{
    display: flex;
    gap: 10px;
    
}

.opcoes > a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 7px;
}



main{
    display: block;
    background-color: white;
    width: 80vw;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.418);
}